body {
    margin: 0;
    padding: 0;
    font-family: 'gt_america';
    color: white;
    background-color: black;
    transition: all 0.4s;
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym761.ani), url(https://ani.cursors-4u.net/symbols/sym-8/sym761.png), auto !important;
}

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'gt_america';
    src: url(fonts/GT-America-Regular/GT-America-Regular.otf);
    src: url(fonts/GT-America-Regular/GT-America-Regular.ttf);
}

h1 {
    font-size: 36px;
    margin: 1vh 0 3vh;
}

h2 {
    font-size: 42px;
    margin: 0;
}

.title-hover:hover {
    color: white;
}

h3 {
    font-size: 30px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    display: grid;
    margin: 4vh 1.5vw;
    grid-template-columns: 48.5vw 48.5vw;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    border-top: solid 3px;
    border-top-color: inherit;
    z-index: 2;
    top: 0;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    width: 25vw;
    display: flex;
    margin-top: 1.5vh;
    justify-content: space-between;
}

.landing {
    background-image: url("media/rowan-landing.jpg");
    height: 100vh;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact {
    height: 80vh;
    display: grid;
    margin: 15vh 1.5vw 5vh;
    border-top: solid 1px;
    border-top-color: inherit;
    grid-template-columns: 12vw 85vw;
    grid-template-rows: 78vh;
    grid-template-areas: "section title";
}

.section {
    grid-area: section;
    margin: 2vh 0 0;
}

.title {
    grid-area: title;
    overflow: scroll;
    margin: 2vh 1.5vw 0 0;
}

a:hover {
    color: thistle;
    text-decoration: none;
    cursor: pointer;
}

a.contact-link:hover {
    transition: all 0.4s ease-in-out;
    color: blue;
}

/* responsive */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .section {
        display: none;
    }

    #contact {
        height: auto;
        margin: 4vh 3vw;
        display: block;
        border-top: none;
    }

    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    header {
        display: block;
        border-top: none;
        margin: 2vh 2vw 0;
        position: relative;
        color: lavender;
    }
    
    .right {
        display: block;
        margin-left: 1vw;
        font-size: 18px;
        font-weight: bold;
    }

}