body {
    margin: 0;
    padding: 0;
    font-family: 'gt_america';
    color: white;
    background-color: black;
    transition: all 0.4s;
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym761.ani), url(https://ani.cursors-4u.net/symbols/sym-8/sym761.png), auto !important;
}

@font-face {
    font-family: 'gt_america';
    src: url(fonts/GT-America-Regular/GT-America-Regular.otf);
    src: url(fonts/GT-America-Regular/GT-America-Regular.ttf);
}

h1 {
    font-size: 36px;
    margin: 1vh 0 3vh;
    display: inline-block;
}

h2 {
    font-size: 42px;
    margin: 0;
}

.title-hover:hover {
    color: white;
}

h3 {
    font-size: 30px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a.nav-links:hover {
    color: thistle;
    text-decoration: none;
    cursor: pointer;
}

header {
    position: fixed;
    display: grid;
    margin: 4vh 1.5vw;
    grid-template-columns: 48.5vw 48.5vw;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    border-top: solid 3px;
    border-top-color: inherit;
    z-index: 2;
    top: 0;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    width: 25vw;
    display: flex;
    margin-top: 1.5vh;
    justify-content: space-between;
}

.landing {
    background-image: url("media/rowan-landing.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#work {
    height: 80vh;
    display: grid;
    margin: 15vh 1.5vw 5vh;
    border-top: solid 1px;
    border-top-color: inherit;
    grid-template-columns: 12vw 36.5vw 48.5vw;
    grid-template-rows: 78vh;
    grid-template-areas: "section title image";
}

.section {
    grid-area: section;
    margin: 2vh 1.5vw 0 0;
}

.title {
    grid-area: title;
    overflow: scroll;
    margin: 2vh 1.5vw 0 0;
} 

.image {
    grid-area: image;
    margin: 3vh 0 0;
    background-image: url(media/rowan-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);

}

img {
    width: 48.5vw;
    height: 77vh;
    object-fit: cover;
    position: absolute;
    display: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    h1 {
        font-size: 90px;
    }

    header {
        display: block;
        border-top: none;
        margin: 2vh 2vw;
        position: absolute;
        color: lavender;
    }

    .left {
        width: 96vw;
    }

    .right {
        display: block;
        margin-left: 2vw;
        font-size: 24px;
        font-weight: bold;
    }

    .image {
        display: none;
    }

    .section {
        display: none;
    }

    #work {
        height: auto;
        margin: 2vh 2vw;
        display: block;
        border-top: none;
    }
}